<style> 
#main-div {
    border-radius: 10px;
    border: 2px solid #73AD21;
    padding: 20px; 
    width: 950px;
    height: 160px;    
}

#application-info {
    border-radius : 5px;
    border: 2px solid blue;
    padding: 20 px;
    width: 100%;
    height: 40px;   
}

#app_name {
    position: relative;
    top: 4px;
    padding: 10px;
}

#app_id{
    position: relative;
    top: 4px;
    padding: 10px;
}

#number_of_attempts{
    position: relative;
    top: 4px;
    padding: 10px;
}

.job_submission{
    position: relative;
    left : 40px;
    top: 15px;
}

.job_completion{
    position: relative;
    left: 40px;
    top: 15px;
}
.job-div {
    border-radius : 5px;
    border: 2px solid black;
    padding: 20 px;
    width: 100%;
    height: 150px;
}
.job-table{
    position:relative;
    float:right;
    right:5px;
    top:5px;
}
.job-details{
    position:relative;
    float:left;
    width:140px;
    top:5px;
    left:5px;
    height:120px;
    border: 1px solid black;
    border-radius:1px;
}
.job-progress-span{
    position:relative;
    left: 20px; 
    top: 10px;
}
.progress-slider{
    width:500px;
    height:30px;
    border:1px solid #000;
    border-radius: 3px;
    overflow:hidden;}
.progress-slider-bar{
    width:100%;
    height:30px;
    background: #1CDFDF
    ;}
.progress-slider-number {
    color: #000000;
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
    left: 25px;
    position: relative;
    top: -27px; }
#stop_application_button {
    position: relative;
    float: right;
    right: 8px;
    top: 3px;
}
.loader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid blue;
  border-right: 8px solid green;
  border-bottom: 8px solid red;
  border-left: 8px solid pink;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>