<style> 
#main-div {
    border-radius: 10px;
    border: 2px solid #73AD21;
    padding: 20px; 
    width: 950px;
    height: 150px;    
}

#application-info {
    border-radius : 5px;
    border: 2px solid blue;
    padding: 20 px;
    width: 100%;
    height: 50px;   
}
#application_name {
    padding: 10px;
}

#application_id{
    padding: 10px;
}

#number_of_attempts{
    padding: 10px;
}

.job-div {
    border-radius : 5px;
    border: 2px solid black;
    padding: 20 px;
    width: 100%;
    height: 150px;
}
.job-table{
    position:relative;
    float:right;
    right:5px;
    top:5px;
}
.job-details{
    position:relative;
    float:left;
    width:140px;
    top:5px;
    left:5px;
    height:120px;
    border: 1px solid black;
    border-radius:1px;
}
.job-progress-span{
    position:relative;
    left: 20px; 
    top: 10px;
}
.progress-slider{
    width:500px;
    height:30px;
    border:1px solid #000;
    border-radius: 3px;
    overflow:hidden;}
.progress-slider-bar{
    width:100%;
    height:30px;
    border-right: 1px solid #000000;
    background: #1CDFDF
    ;}
.progress-slider-number {
    color: #000000;
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
    left: 25px;
    position: relative;
    top: -27px; }
</style>
